<div class="container">
  <div class="row mt-4">
    <div class="col-md-3">
        <label>CSV/XLSX File</label>
        <select class="form-control" [formControl]="searchControl" (change)="onChangeFile(searchControl)">
            <option value="">Select file</option>
            <option *ngFor="let fileName of fileNames;">{{fileName}}</option>
            
        </select>
    </div>
    <div class="col-md-3">
        <label>Chart Types</label>
        <select class="form-control" (change)="changeChartType(selectChartType)" #selectChartType>
            <option value="">Select chart type</option>
            <option value="bar">Bar Chart</option>
            <option value="line">Line Chat</option>
            <option value="pie">Pie Chart</option>
            <option value="radar">Rader Chart</option>
            <option value="polarArea">Polar Area Chart</option>
            <option value="doughnut">Doughnut Chart</option>
            <!-- <option value="histogram">Histogram</option> -->
        </select>
    </div>
    
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas *ngIf="chartHidden" baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    
  </div>
</div>


</div>